@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    line-height: 2;
    font-size: 18px;
    font-family: 'Zen Dots', cursive;
    font-weight: 400;
	background: -webkit-linear-(90deg, #D1F2EB 10%, #FAE5D3 90%);
	background: -moz-linear-gradient(90deg, #D1F2EB 10%, #FAE5D3 90%);
	background: -o-linear-gradient(90deg, #D1F2EB 10%, #FAE5D3 90%);
	background: linear-gradient(90deg, #D1F2EB 10%, #FAE5D3 90%);
	width: 100%;
}
.h2{
   text-shadow: 3px 10px #999;
}
.sidebar {
	float: left;
	padding-top: 8%;
	padding-left:5%;
	padding-right: 5%;
	padding-right:5%;
	position: absolute;
	width:50;
}
.imagen img{
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 5px 5px #8FBC8F;
	-webkit-box-shadow: 0px 0px 5px 5px #8FBC8F;
}
.mainperfil 
{
	text-align: justify;
	margin-top:10px;
	padding-right:3%;
	padding-left: 5%;
	float: right;
	width: 50%;
}
.main{
	text-align: justify;
	margin-top:10px;
	padding-right:3%;
	padding-left: 10%;
	float: right;
	position: absolute;
	width: 80%;
}
.name{
    font-family: 'Monoton', cursive;
	font-size:60px;
	font-weight: 500;
	text-shadow: 1px 6px #999;
   	width: 100%;
	text-align: center;
	margin: 0px auto;
	padding-top:15%;
	color: $black;
	letter-spacing: 6px;
	margin-top: -40px;
	}
.linkedin{
	width:25%; 
	padding-top: 10%;
	text-align: right;
 }
.contacto img{
	width:34%;
    float: left; 
    font-size: 10px;
    font-family: 'Zen Dots', cursive;
    font-weight: 200;
	padding-top: 10%;
	text-align: left;
}

.titulo {
	padding-top:5%;
	margin-left:5%;
	font-family: 'Monoton', cursive;
	font-size:28px;
	font-weight: 500;
   	width: 80%;
	text-align: left;
}
.texto{
	text-align: justify;
	line-height: 2;
    font-family: 'Zen Dots', cursive;
    font-weight: 400;
	margin-top:3%;
	padding-bottom: 5%;
	letter-spacing: 2px;
}
.home {
text-align:right;

}
.experiencialink{
	width: 50%;
	position:absolute;
	right:0px;
	width:300px;
	font-size:25px;
}
.formacion-idiomaslink
{text-align: left;
font-size:25px;
}

a{
  color: #17202A;
}

a:hover{
  color: #76D7C4;
}

a:active{
  color: #E74C3C;
}
.uni {
	font-size: 12px;
	line-height: 3;
}
.icono{
	width:33%;
    float: right; 
    text-align:center; 
    font-size: 13px;
    font-family: 'Zen Dots', cursive;
    font-weight: 200;
	padding-top: 10%;
	font-size: 60px !important;
}
ul {
list-style: none; 
padding: 0;
margin-left: 10px;
}
li::before { 
padding-right: 30px; 
}