@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

body{
    background-image: url("background-sloths.jpg");
}

a{
    color: #7c9ea2;
}

a:hover{
    color: #888f95;
}

.box{
    display: flex;
    flex-direction: column; 
    position: relative; 
    margin: auto;
    width: 1050px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
    background-clip: padding-box;
}

.vertical-line{
    position: absolute;
    margin:0px;
    width: 325px;
    height: 100%;
    border-right: 1px solid #eec180;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.heading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    align-items: center;
    color:#4d383f;
}

.heading img{
    width: 275px;
    height: 275px;
    border-radius: 5%;
    margin-left: 25px;
    margin-top: 25px;
}

.name{
    flex-basis: 700px;
    float: right;
    text-align: left;
    margin-left: 50px;
    margin-top: 5px;
}

.name h1{
    color: #ae9d8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.name .description{
    padding-right: 25px;
    padding-top: 10px;
}
.title{
    width: 675px;
    padding-left: 350px;
    padding-right: 25px;
    color: #ae9d8a;
    border-top: 1px dashed #ae9d8a;
    border-bottom:1px dashed #ae9d8a;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 20px;
    align-items: flex-start;
    color: #4d383f;
}

.date{
    flex-basis: 275px;
    padding-left: 25px;
    float: left;
    text-align: right;
}

.line{
    width: 30px;
    border-bottom: 1px solid #eec180; 
    border-top: none;
    border-left: none;
    border-right: none;
}

.subsection{
    flex-basis: 675px;
    padding-right: 25px;
    float: right;
    text-align: left;
    line-height: 1.2;
}